@model TheSchoolManagementSystem.Models.Administrator

@{
    ViewData["Title"] = "Delete Administrator";
}

<h2>Delete Administrator</h2>

<h4>Are you sure you want to delete this administrator?</h4>
<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <div>
        <form asp-action="DeleteConfirmed">
            <input type="hidden" asp-for="AdministratorId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
