@{
    ViewData["Title"] = "Administrator Dashboard";
}


<div class="btn-group" role="group" aria-label="Manage">
    <a asp-action="Students" class="btn btn-primary btn-lg shadow rounded-left">Manage Students</a>
    <a asp-action="Teachers" class="btn btn-secondary btn-lg shadow rounded-right">Manage Teachers</a>
</div>
