@{
    ViewData["Title"] = "Administrator Dashboard";
}


<div class="btn-group" role="group" aria-label="Manage">
    <a asp-action="Students" class="btn btn-primary btn-lg shadow rounded me-2">Manage Students</a>
    <a asp-action="Teachers" class="btn btn-secondary btn-lg shadow rounded me-2">Manage Teachers</a>
    <a asp-action="Registrations" class="btn btn-info btn-lg shadow rounded me-2">Manage Registrations</a>
    <a asp-action="Subjects" class="btn btn-warning btn-lg shadow rounded">Manage Subjects</a>
</div>


