@{
    @* ViewData["Title"] = "Student Authentication"; *@
}

<div class="container d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="card shadow-lg p-4 w-50" style="border-radius: 10px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Student Authentication</h2>
            <p class="text-center">Please enter your Student ID to access your profile.</p>
            <form asp-action="Authenticate" method="post">
                <div class="form-group my-3">
                    <label for="studentId">Student ID</label>
                    <input type="number" class="form-control mb-3" id="studentId" name="studentId" required />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Access Profile</button>
            </form>
        </div>
    </div>
</div>


